body {
    background-image: url(background8.png);
    height: 100vh;
}

.header {

    display: flex;
    /* border: 2px black solid; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    /* padding-top: 2rem; */



}

.options {

    display: flex;
    color: white;
    /* border: 2px red solid; */
    /* align-items: ; */
    justify-content: space-around;
    width: 50%;
    padding-top: 3rem;
    height: 50%;
}

.options button {

    /* border: 2px purple solid; */
    height: 40%;
    width: 20%;
    background-color: #b7eaaf;
    border-radius: 5px;

}

.options img {
    /* border: 2px purple solid; */
    height: 30px;
    width: 40px;

}
.center{
    background-image: url(background9.png);
    /* border: 2px red solid; */
   
height: 60%;
background-repeat: no-repeat;
margin: 5rem 28rem;
width: 40%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
.center button{
    background: linear-gradient(90deg, rgba(127, 202, 33, 0.8), #105200);
padding: 1rem 2rem;
border: none;
color: white;
border-radius: 50px ;
}

.center h1{
color: #d2ffcb;
margin: 1rem 0;
}

.center p{
color: white;
width: 270px;
/* text-align: center; */
margin: 1rem 0;
}



.bottom img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    z-index: -1;
}